.screen {
    width: 90%;
    height: 60%;
    background-color: white;
    border: solid black 2px;
    border-radius: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menuContainer {
    display: flex;
    width: 100%;
  }
  
  .menuLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .menuLeft ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menuLeft ul li {
    padding: 10px 0;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .menuLeft ul li.active {
    color: blue;
  }
  
  .menuRight {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .coverImage {
    width: 80%;
    border-radius: 10px;
    height: 100%;
    background-size: cover;
  }
  
  .musicScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .musicCover {
    width: 80%;
    border-radius: 10px;
  }
  
  .musicBar {
    width: 80%;
    height: 5px;
    background-color: gray;
    margin-top: 10px;
  }